* { margin:0; padding:0; }
.clear { clear:both; }
:focus { outline:0; }

body { background:#345678; color:#444; font:normal 15px/25px Helvetica, Arial, sans-serif; }
a, a:link, a:visited { color:#456789; text-decoration:underline; }
a:hover { color:#444; text-decoration:underline; }
a:active { position:relative; top:1px; outline:0; }
pre { background:#f3f3f3; border:1px solid #ddd; color:#222; font:normal 14px/20px "Andale Mono", "Courier New", monospace; padding:5px; margin:10px 20px; max-height:450px; overflow:auto; }
ul, ol { margin:10px 0 10px 35px; }
h1, h2, h3, h4, h5 { color:#000; margin:0.4em 0; }
fieldset { border:none; outline:0; }
p { margin:20px 0; }

#wrap { width:800px; margin:0 auto; }
#header, #contentwrapper, #footer { background:#fff; -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5); -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5); padding:20px; }
#logo { font:bold 80px/90px Helvetica, Arial, sans-serif; height:90px; margin:0; text-align:center; }
#footer {text-align: center;}
#footer p { margin:2px 0;}

#menu { list-style:none; margin:30px auto 10px; text-align:center; }
#menu li { display:inline; }
#menu li a, #menu li a:visited { color:#666; text-decoration:none; font:normal 15px/22px "Trebcuhet MS", Helvetica, Arial, sans-serif; padding:8px 25px; border:1px solid #ddd; background:#eee; background:-webkit-gradient(linear,left bottom,left top,color-stop(0, #eee),color-stop(0.61, rgb(255,255,255))); background:-moz-linear-gradient(center bottom,#eee 0%,rgb(255,255,255) 61%); text-shadow:0 1px 1px #fff; -moz-border-radius:15px; -webkit-border-radius:15px; }
#menu li a:hover { border-color:#aaa; color:#000; text-decoration:none; }
#menu li.current-page a { color:#fff; text-shadow:0 -1px 1px #000; background:#444; background:-webkit-gradient(linear,left bottom,left top,color-stop(0, #222),color-stop(0.61, #555)); background:-moz-linear-gradient(center bottom,#222 0%,#555 61%); border-color:#000; }

.alignleft { float:left; }
.alignright { float:right; }
.aligncenter { margin:0 auto; }

.center { text-align:center; }
.left { text-align:left; }
.right { text-align:right; }