/*** Resets ***/
* {
	margin:0;
	padding:0;
}
section, article, nav, header, footer, aside {
	display:block;
}

/*** Global ***/
body {
	background:#e8e8e8;
	color:#000;
	font:normal 16px/28px sans-serif;
}
a, a:link, a:visited {
	color:#0088ff;
	text-decoration:none;
}
a:hover, a:active {
	color:#0059af;
	text-decoration:none;
}
ul, ol {
	margin:10px 0 10px 30px;
}
pre {
	color:#000;
	font:normal inherit/1.3em "Monaco", "Andale Mono", "Courier New", "Courier", monospace;
	padding:1.0em;
	background:#efefef;
}
tt, code {
	background:#efefef;
	color:#000;
}
p {
	margin:15px 0;
}
blockquote {
	color:#777;
	font:normal 15px/24px Helvetica, Arial, sans-serif;
	border-left:3px solid #ddd;
	padding:5px 15px;
	margin:10px 20px;
}
fieldset {
	border:none;
}
input[type=text], input[type=password], textarea {
	color:#666;
	font-family:Helvetica, Arial, sans-serif;
	font-size:18px;
	padding:3px;
	border:1px solid #ccc;
	background:#fff url(images/input.png) repeat-x scroll top left;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border-color:#898989;
	color:#000;
}
a img {
	border:none;
}


/*** Layout ***/
.wrapper, .container {
	width:800px;
	margin:0 auto;
	position:relative;
}
.wrapper {
	background:#fff;
	padding-top:15px;
}
.header {
	background:#D31E01 url(images/header.jpg) repeat-x scroll 0 0;
	height:120px;
	border-bottom:1px solid #B50802;
	position:relative;
}
.header .container {
	height:120px;
}
.header h1 {
	color:#fff;
	margin:0 auto;
	font:bold 50px/80px sans-serif;
	width:800px;
}
.content {
	padding:15px;
}


/*** Main Navigation ***/
.nav {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}
.nav ul {
	margin:0 auto;
	width:800px;
	list-style:none;
}
.nav ul li {
	display:inline-block;
}
.nav ul li a {
	color:#fff;
	text-decoration:none;
	font:normal 14px/30px sans-serif;
	display:inline-block;
	height:30px;
	padding:0 25px;
	border-right:1px solid #B50802;
}
.nav ul li a:hover {
	color:#fff;
	text-decoration:underline;
}


/*** Miscellaneous ***/
.alignleft {
	float:left;
}
.alignright {
	float:right;
}
.left {
	text-align:left;
}
.center {
	text-align:center;
}
.right {
	text-align:right;
}
.pagetitle {
	background:transparent url(images/heading.png) no-repeat scroll bottom left;
	height:70px;
	width:400px;
	margin-left:-15px;
	color:#fff;
	font:bold 30px/55px sans-serif;
	text-indent:35px;
}
.pagetitle span {
	display:block;
	background:#D31E01;
	height:55px;
}